<ion-view view-title="Login">
  <ion-content class="padding">

  <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input ng-model="loginctrl.username"type="text" placeholder="Username">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input ng-model="loginctrl.password" type="text" placeholder="Password">
  </label>
</div>



<br><br>
  <button ng-click="doLogin()">Login</button>

  </ion-content>
</ion-view>
