<ion-view view-title="Write a Review">
  <ion-content class="padding">
    <div style="text-align:center">
      <i class="ion-android-create"></i>
    </div>
    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Course Code</span>
    <input ng-model="ds.courseCode"type="text" placeholder="Course Code">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Course Name</span>
    <input ng-model="ds.courseName" type="text" placeholder="Course Name">
  </label>

  <br> <br>
  <label class="item item-input item-floating-label">
    <span class="input-label">Comments</span>
    <input ng-model="ds.comments" type="text" placeholder="Comments">
  </label>
</div>

<span>Rating: </span>  <i class="ion-android-star"></i>

<br><br>
  <button ng-click="todoAdd()">submit</button>

  </ion-content>
</ion-view>
