<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div style="text-align:center">
      <i class="ion-android-create"></i>
    </div>
    <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Course Code</span>
    <input type="text" placeholder="Course Code">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Course Name</span>
    <input type="text" placeholder="Course Name">
  </label>
  <br> <br>
  <label class="item item-input item-floating-label">
    <span class="input-label">Comments</span>
    <input type="text" placeholder="Comments">
  </label>
</div>
  <i class="ion-android-star"></i>
  </ion-content>
</ion-view>
